/* Variable and Base Styles */
:root {
  --heading-font: "Gilda Display", serif;
}

/* Header */
@media (min-width: 768px) {
  .head-main {
    padding: 32px 0 24px !important;
  }
  .section-featured-home .item-description {
    padding: 40px 0 20px;
  }
}

/* Banner & Overlay */
.js-banners-news .js-banner-container.container-fluid::after, 
.js-banner .js-textbanner .js-textbanner-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: #4d301b;
  opacity: 0.5;
}

.js-banners-news .js-banner-title {
  font-family: "Gilda Display";
  color: #f1ece5;
  font-size: 48px;
  letter-spacing: 0;
}

.textbanner-text.over-image.over-image-invert .btn-link,
.textbanner-text.over-image.over-image-invert .search-suggestions .search-suggestions-all-link {
  color: var(--main-background);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-size: .75rem;
  text-underline-offset: 0.4rem;
}

/* Institutional Sections */
.section-institutional-home {
  padding: 80px 0;
  position: relative;
}

.section-institutional-home .js-institutional-message-title {
  text-wrap: balance;
}

section.section-institutional-home::after,
section.section-featured-home::after {
  width: 100%;
  height: 1px;
  content: '';
  background: #E0DBD8;
  position: absolute;
  bottom: 0;
}

/* Buttons */
a.js-institutional-message-button.btn-link {
  padding: 1.2rem 1.8rem;
  border: 1px solid;
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: .05em;
}

.btn-whatsapp {
  background-color: #2e2e2e;
}

/* Navigation */
.nav-desktop-list > .nav-item {
  position: relative;
}

.desktop-dropdown {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0 0;
}

.desktop-list-subitems {
  display: flex;
  flex-direction: column;
}

.desktop-list-subitems .nav-item .list-subitems {
  display: none;
}

.nav-list-link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}

.desktop-list-subitems .nav-item {
  border: 1px solid #E0DBD8;
  border-bottom: 0;
}

.desktop-list-subitems .nav-item .nav-list-link {
  font-size: 0.75rem;
  padding: 1rem 2rem;
  margin: 0;
}

/* Featured Sections */
.section-featured-home, 
.section-products-related, 
.section-banners-home {
  padding: 64px 0 !important;
}

.js-products-featured-title, 
.js-banners-section-title {
  font-family: "Gilda Display";
  color: #2E2E2E;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 72px !important;
}

.section-featured-home .js-item-product .js-item-info-container .js-item-image-padding {
  padding-bottom: 140% !important;
}

.section-featured-home .js-item-product .js-item-info-container .js-item-image-padding img {
  width: 100%;
}

/* Category */
.js-banner .js-textbanner {
  margin-bottom: 30px;
}

.js-banner .js-textbanner .js-textbanner-image-container .js-textbanner-image {
  aspect-ratio: 1 / 1;
}

.js-banner .js-textbanner .textbanner-text.over-image .js-banner-title {
  color: #F1ECE5;
  font-size: 16px;
  font-family: var(--body-font);
}

/* First Row */
.js-home-sections-container .section-banners-home {
  padding: 0 !important;
}
