/* Banner */

.textbanner-text.over-image.over-image-invert .btn-link, .textbanner-text.over-image.over-image-invert .search-suggestions .search-suggestions-all-link, .search-suggestions .textbanner-text.over-image.over-image-invert .search-suggestions-all-link {
    color: var(--main-background);
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: .75rem;
}

/* Overlay */

.js-banners-news .js-banner-container.container-fluid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: #4d301b;
  opacity: 0.5;
}

.js-home-sections-container .section-banners-home {
  padding: 0;
}

/* Title */

.js-banners-news .js-banner-title {
  font-family: "Gilda Display";
  color: #f1ece5;
  font-size: 48px;
  letter-spacing: 0;
}

/* Message */

.section-institutional-home {
    padding: 80px 0;
}

.section-institutional-home .js-institutional-message-title {
  text-wrap: balance;
}

a.js-institutional-message-button.btn-link {
  padding: 1.2rem 1.8rem;
  border: 1px solid;
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: .05em;
}

section.section-institutional-home {
    position: relative;
}

section.section-institutional-home::after {
    width: 100%;
    height: 1px;
    content: '';
    background: #E0DBD8;
    position: absolute;
    bottom: 0;
}

/* WhatsApp */

.btn-whatsapp {
  background-color: #2e2e2e;
}

/* Menu & Submenu */

.desktop-list-subitems .nav-item .list-subitems {
  display: none;
}

.nav-desktop-list > .nav-item {
  position: relative;
}

.desktop-dropdown {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.desktop-list-subitems {
  display: flex;
  flex-direction: column;
}

.nav-list-link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}

.desktop-list-subitems .nav-item .nav-list-link {
  font-size: 0.75rem;
}

