/* Variable and Base Styles */
:root {
  --heading-font: "Gilda Display", serif;
}

/* Header */
@media (min-width: 768px) {
  .head-main {
    padding: 32px 0 24px !important;
  }
  .section-featured-home .item-description {
    padding: 40px 0 20px;
  }
}

/* Banner & Overlay */
.js-banners-news .js-banner-container.container-fluid::after, 
.js-banner .js-textbanner .js-textbanner-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: #4d301b;
  opacity: 0.5;
}

.js-banners-news .js-banner-title {
  font-family: "Gilda Display";
  color: #f1ece5;
  font-size: 48px;
  letter-spacing: 0;
}

.textbanner-text.over-image.over-image-invert .btn-link,
.textbanner-text.over-image.over-image-invert .search-suggestions .search-suggestions-all-link {
  color: var(--main-background);
  letter-spacing: .05em;
  text-transform: uppercase;
  font-size: .75rem;
  text-underline-offset: 0.4rem;
}

/* Institutional Sections */
.section-institutional-home {
  padding: 80px 0;
  position: relative;
}

.section-institutional-home .js-institutional-message-title {
  text-wrap: balance;
}

section.section-institutional-home::after,
section.section-featured-home::after {
  width: 100%;
  height: 1px;
  content: '';
  background: #E0DBD8;
  position: absolute;
  bottom: 0;
}

/* Buttons */
a.js-institutional-message-button.btn-link {
  padding: 1.2rem 1.8rem;
  border: 1px solid;
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: .05em;
}

.btn-whatsapp {
  background-color: #2e2e2e;
}

/* Navigation */
.nav-desktop-list > .nav-item {
  position: relative;
}

.desktop-dropdown {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0 0;
}

.desktop-dropdown > .container {
  padding: 0;
}

.desktop-list-subitems {
  display: flex;
  flex-direction: column;
}

.desktop-list-subitems .nav-item .list-subitems {
  display: none;
}

.nav-list-link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}

.desktop-list-subitems .nav-item {
  border: 1px solid #E0DBD8;
  border-bottom: 0;
}

.desktop-list-subitems .nav-item .nav-list-link {
  font-size: 0.75rem;
  padding: 1rem 2rem;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/* Featured Sections */
.section-featured-home, 
.section-products-related, 
.section-banners-home {
  padding: 64px 0 !important;
}

.js-products-featured-title, 
.js-banners-section-title {
  font-family: "Gilda Display";
  color: #2E2E2E;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 72px !important;
}

.section-featured-home .js-item-product .js-item-info-container .js-item-image-padding {
  padding-bottom: 140% !important;
}

.section-featured-home .js-item-product .js-item-info-container .js-item-image-padding img {
  width: 100%;
}

/* Category */
.js-banner .js-textbanner {
  margin-bottom: 30px;
}

.js-banner .js-textbanner .js-textbanner-image-container .js-textbanner-image {
  aspect-ratio: 1 / 1;
}

.section-banners-home[data-store="home-banner-categories"] .js-banner .js-textbanner .textbanner-text.over-image .js-banner-title {
  color: #F1ECE5;
  font-size: 16px;
  font-family: var(--body-font);
}

/* First Row */
.section-banners-home[data-store="home-banner-news"] {
    padding: 0 !important;
}

/* Image with text */
.section-modules-home {
    padding: 80px 0;
    background: #DDDAD3;
}

.section-modules-home .js-textbanner {
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.section-modules-home .js-textbanner .js-textbanner-image-container {
  padding-bottom: 50% !important;
  padding-top: 0 !important;
}

.section-modules-home .js-textbanner .js-textbanner-text {
  order: -1;
  padding-right: 6rem !important;
}

/* Footer Icons */
.section-informative-banners .container {
  max-width: none;
  border-bottom: 1px solid #E0DBD8;
  border-top: 1px solid #E0DBD8;
}
.section-informative-banners .js-informative-banners.swiper-container {
  margin-bottom: 0 !important;
}

.section-informative-banners .js-informative-banners .swiper-slide {
  border: 1px solid #E0DBD8;
  padding: 1.3rem 0 1.2rem !important;
  margin: 0!important;
}

.section-informative-banners .js-informative-banners .swiper-slide:first-child {
  border-right: 1px solid #E0DBD8;
}

.section-informative-banners .js-informative-banners .swiper-slide.mr-md-0 {
  border-left: 1px solid #E0DBD8;
}

.section-informative-banners .js-informative-banners .swiper-slide .d-inline-block.icon-60px {
  width: 24px;
  height: 24px;
  margin-bottom: 0.75rem !important;
}

.section-informative-banners .js-informative-banners .swiper-slide h3 {
  font-size: .75rem;
  font-family: var(--body-font);
  text-transform: uppercase;
  letter-spacing: .05em;
}

.section-informative-banners .js-informative-banners .swiper-slide.mr-md-0 {
  margin-right: 30px;
}

/* Footer */
.js-footer .mb-4.pb-2 img.footer-logo-img {
  max-height: 120px;
}

.js-footer .mb-4:nth-of-type(2) {
  display: none;
}

.js-footer .my-2 {
  display: none;
}

.js-footer .d-inline-block.mr-md-2.font-smallest {
  font-size: .75rem !important;
  color: #7F7C76;
}

.js-footer .claim-link.d-md-inline-block.mt-md-0.mt-3.font-smallest {
  font-size: .75rem !important;
  color: #7F7C76;
}
