/* Variable and Base Styles */
:root {
  --heading-font: "Gilda Display", serif;
}

/* Header */
@media (min-width: 768px) {
  .head-main {
    padding: 32px 0 24px !important;
  }
  .section-featured-home .item-description {
    padding: 40px 0 20px;
  }
}

/* Banner & Overlay */
.js-banners-news .js-banner-container.container-fluid::after,
.js-banner .js-textbanner .js-textbanner-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: #4d301b;
  opacity: 0.5;
}

.js-banners-news .js-banner-title {
  font-family: "Gilda Display";
  color: #f1ece5;
  font-size: 48px;
  letter-spacing: 0;
}

.textbanner-text.over-image.over-image-invert .btn-link,
.textbanner-text.over-image.over-image-invert
  .search-suggestions
  .search-suggestions-all-link {
  color: var(--main-background);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 0.75rem;
  text-underline-offset: 0.4rem;
}

/* Institutional Sections */
.section-institutional-home {
  padding: 80px 0;
  position: relative;
}

.section-institutional-home .js-institutional-message-title {
  text-wrap: balance;
}

section.section-institutional-home::after,
section.section-featured-home::after {
  width: 100%;
  height: 1px;
  content: "";
  background: #e0dbd8;
  position: absolute;
  bottom: 0;
}

/* Buttons */
a.js-institutional-message-button.btn-link {
  padding: 1.2rem 1.8rem;
  border: 1px solid;
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

.btn-whatsapp {
  background-color: #2e2e2e;
}

/* Navigation */
.nav-desktop-list > .nav-item {
  position: relative;
}

.desktop-dropdown {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0 0;
}

.desktop-dropdown > .container {
  padding: 0;
}

.desktop-list-subitems {
  display: flex;
  flex-direction: column;
}

.desktop-list-subitems .nav-item .list-subitems {
  display: none;
}

.nav-list-link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}

.desktop-list-subitems .nav-item {
  border: 1px solid #e0dbd8;
  border-bottom: 0;
}

.desktop-list-subitems .nav-item .nav-list-link {
  font-size: 0.75rem;
  padding: 1rem 2rem;
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/* Featured Sections */
.section-featured-home,
.section-products-related,
.section-banners-home {
  padding: 64px 0 !important;
}

.js-products-featured-title,
.js-banners-section-title {
  font-family: "Gilda Display";
  color: #2e2e2e;
  font-size: 24px;
  letter-spacing: 0;
  margin-bottom: 72px !important;
}

.section-featured-home
  .js-item-product
  .js-item-info-container
  .js-item-image-padding,
.category-body .js-item-product .js-item-info-container .js-item-image-padding,
#related-products .products-section-container .js-item-image-padding {
  padding-bottom: 140% !important;
}

.section-featured-home
  .js-item-product
  .js-item-info-container
  .js-item-image-padding
  img {
  width: 100%;
}

/* Category */
.js-banner .js-textbanner {
  margin-bottom: 30px;
}

.js-banner .js-textbanner .js-textbanner-image-container .js-textbanner-image {
  aspect-ratio: 1 / 1;
}

.section-banners-home[data-store="home-banner-categories"]
  .js-banner
  .js-textbanner
  .textbanner-text.over-image
  .js-banner-title {
  color: #f1ece5;
  font-size: 16px;
  font-family: var(--body-font);
}

/* First Row */
.section-banners-home[data-store="home-banner-news"] {
  padding: 0 !important;
}

/* Image with text */
.section-modules-home {
  padding: 80px 0;
  background: #dddad3;
}

.section-modules-home .js-textbanner {
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.section-modules-home .js-textbanner .js-textbanner-image-container {
  padding-bottom: 50% !important;
  padding-top: 0 !important;
}

.section-modules-home .js-textbanner .js-textbanner-text {
  order: -1;
  padding-right: 6rem !important;
}

.section-modules-home .js-textbanner .js-banner-title {
  font-size: 24px;
  margin-bottom: 1.5rem !important;
}

.section-modules-home .js-textbanner .textbanner-paragraph {
  text-overflow: unset;
  -webkit-line-clamp: none;
  -webkit-box-orient: horizontal;
  text-wrap: balance;
}

.section-modules-home .js-textbanner .btn-link {
  padding: 1.2rem 1.8rem;
  border: 1px solid;
  margin-top: 1rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  letter-spacing: 0.05em;
}

/* Footer Icons */
.section-informative-banners .container {
  max-width: none;
  border-bottom: 1px solid #e0dbd8;
  border-top: 1px solid #e0dbd8;
}
.section-informative-banners .js-informative-banners.swiper-container {
  margin-bottom: 0 !important;
}

.section-informative-banners .js-informative-banners .swiper-slide {
  padding: 1.3rem 0 1.2rem !important;
  margin: 0 !important;
}

.section-informative-banners .js-informative-banners .swiper-slide:first-child {
  border-right: 1px solid #e0dbd8;
}

.section-informative-banners .js-informative-banners .swiper-slide.mr-md-0 {
  border-left: 1px solid #e0dbd8;
}

.section-informative-banners
  .js-informative-banners
  .swiper-slide
  .d-inline-block.icon-60px {
  width: 24px;
  height: 24px;
  margin-bottom: 0.75rem !important;
}

.section-informative-banners .js-informative-banners .swiper-slide h3 {
  font-size: 0.75rem;
  font-family: var(--body-font);
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.section-informative-banners .js-informative-banners .swiper-slide.mr-md-0 {
  margin-right: 30px;
}

/* Footer */
.js-footer .mb-4.pb-2 img.footer-logo-img {
  max-height: 120px;
}

.js-footer .mb-4:nth-of-type(2) {
  display: none;
}

.js-footer .my-2 {
  display: none;
}

.js-footer .d-inline-block.mr-md-2.font-smallest {
  font-size: 0.75rem !important;
  color: #7f7c76;
}

.js-footer .font-smallest {
  font-size: 0.75rem !important;
  color: #7f7c76 !important;
}

/* Category */

body.template-category > .container {
  border-top: 1px solid #e0dbd8;
  border-bottom: 1px solid #e0dbd8;
  max-width: unset;
  margin-bottom: 28px;
  padding: 60px 0 !important;
}

body.template-category > .container .page-header {
  padding: 0 !important;
}

body.template-category > .container .mt-2.mb-4.text-center {
  margin: 48px 0 0 !important;
}

body.template-category > .container .page-header .breadcrumbs {
  display: none;
}

body.template-category .btn-link[data-component="filter-button"] {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  text-underline-offset: 4px;
}

body.template-category .item-name {
  font-size: 14px !important;
}

body.template-category .item-description {
  padding: 40px 0 60px;
}

/* product */

#single-product {
  padding-top: 0 !important;
  border-top: 1px solid #e0dbd8;
}

#single-product > .container {
  max-width: unset;
  padding-left: 0;
  padding-top: 0 !important;
}

#single-product > .container .row > .col[data-store] {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}

@media (min-width: 768px) {
  #single-product .swiper-product-thumb {
    height: auto !important;
  }
  #single-product .swiper-product-thumb + div {
    display: none !important;
  }
  .product-thumb img {
    border-radius: 0 !important;
  }
  .product-thumbs-container {
    width: 125px;
  }
  .js-product-thumb {
    margin-bottom: 4px !important;
  }
}
#single-product .user-content p {
  margin-bottom: 0.25rem !important;
}
#single-product > .container .row > .col-md-7.pb-3.pr-md-2 .col.px-3 {
  padding-left: 4px !important;
  padding-bottom: 135% !important;
}
#related-products .products-section-container .item-image img {
  width: 100%;
  object-fit: cover;
}
.label.label-default {
  letter-spacing: 0 !important;
  font-size: 12px !important;
}
.js-product-variants {
  flex-direction: column;
}
.js-product-variants-group {
  width: 100% !important;
  max-width: unset;
}
.form-group .form-label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.05em;
  font-size: 10px;
}
.js-product-slide-link {
  padding-bottom: 135% !important;
}
.product-slider-image {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
.social-share-button {
  display: none;
}
