/* Variable and Base Styles */
:root {
  --heading-font: "Gilda Display", serif;
  --body-font: "Arimo", sans-serif;

  /* Colors */
  --color-primary: #2e2e2e;
  --color-secondary: #4d301b;
  --color-light: #f1ece5;
  --color-border: #e0dbd8;
  --color-background-alt: #dddad3;
  --color-text-muted: #7f7c76;

  /* Spacing */
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 4rem;
  --spacing-section: 64px;
  --spacing-section-large: 80px;

  /* Typography */
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;

  /* Common styles */
  --letter-spacing-wide: 0.05em;
  --text-underline-offset: 0.4rem;
  --border-standard: 1px solid var(--color-border);
}

/* Common Text Styles */
.uppercase-text {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
  font-size: var(--font-size-xs);
}

/* Border Utilities */
.border-standard {
  border: var(--border-standard);
}

.border-top {
  border-top: var(--border-standard);
}

.border-bottom {
  border-bottom: var(--border-standard);
}

.border-right {
  border-right: var(--border-standard);
}

.border-left {
  border-left: var(--border-standard);
}

/* Button Styles */
.btn-standard {
  padding: 1.2rem 1.8rem;
  border: 1px solid;
  margin-top: var(--spacing-md);
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--font-size-xs);
  letter-spacing: var(--letter-spacing-wide);
}

/* Section Spacing */
.section-padding-standard {
  padding: var(--spacing-section) 0 !important;
}

.section-padding-large {
  padding: var(--spacing-section-large) 0;
}

/* Header */
@media (min-width: 768px) {
  .head-main {
    padding: 32px 0 24px !important;
    border-bottom: var(--border-standard);
  }

  .section-featured-home .item-description {
    padding: 40px 0 20px;
  }
}

/* Banner & Overlay */
.js-banners-news .js-banner-container.container-fluid::after,
.js-banner .js-textbanner .js-textbanner-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: var(--color-secondary);
  opacity: 0.5;
}

.js-banners-news .js-banner-title {
  font-family: var(--heading-font);
  color: var(--color-light);
  font-size: var(--font-size-xxl);
  letter-spacing: 0;
}

.textbanner-text.over-image.over-image-invert .btn-link,
.textbanner-text.over-image.over-image-invert
  .search-suggestions
  .search-suggestions-all-link {
  color: var(--main-background);
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  text-underline-offset: var(--text-underline-offset);
}

/* Institutional Sections */
.section-institutional-home {
  padding: var(--spacing-section-large) 0;
  position: relative;
}

.section-institutional-home .js-institutional-message-title {
  text-wrap: balance;
}

section.section-institutional-home::after,
section.section-featured-home::after {
  width: 100%;
  height: 1px;
  content: "";
  background: var(--color-border);
  position: absolute;
  bottom: 0;
}

/* Buttons */
a.js-institutional-message-button.btn-link {
  composes: btn-standard;
}

.btn-whatsapp {
  background-color: var(--color-primary);
}

/* Navigation */
.nav-desktop-list {
  padding: 24px 0 8px;
}
.nav-desktop-list > .nav-item {
  position: relative;
}

.desktop-dropdown {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px 0 0;
}

.desktop-dropdown > .container {
  padding: 0;
}

.desktop-list-subitems {
  display: flex;
  flex-direction: column;
}

.desktop-list-subitems .nav-item .list-subitems {
  display: none;
}

.nav-list-link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
  font-size: var(--font-size-xs);
}

.desktop-list-subitems .nav-item {
  border: var(--border-standard);
  border-bottom: 0;
}

.desktop-list-subitems .nav-item .nav-list-link {
  font-size: var(--font-size-xs);
  padding: var(--spacing-sm) var(--spacing-lg);
  margin: 0;
  text-align: center;
  white-space: nowrap;
}

/* Featured Sections */
.section-featured-home,
.section-products-related,
.section-banners-home {
  composes: section-padding-standard;
}

.js-products-featured-title,
.js-banners-section-title {
  font-family: var(--heading-font);
  color: var(--color-primary);
  font-size: var(--font-size-lg);
  letter-spacing: 0;
  margin-bottom: 72px !important;
}

/* Product Image Aspect Ratio */
.section-featured-home
  .js-item-product
  .js-item-info-container
  .js-item-image-padding,
.category-body .js-item-product .js-item-info-container .js-item-image-padding,
#related-products .products-section-container .js-item-image-padding,
.js-product-slide-link,
.js-product-thumb {
  padding-bottom: 140% !important;
}

/* Special case for product page */
#single-product > .container .row > .col-md-7.pb-3.pr-md-2 .col.px-3 {
  padding-left: 4px !important;
}

.section-featured-home
  .js-item-product
  .js-item-info-container
  .js-item-image-padding
  img,
.js-item-product .item-image img,
.product-slider-image,
#related-products .products-section-container .item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Category */
.js-banner .js-textbanner {
  margin-bottom: 30px;
}

.js-banner .js-textbanner .js-textbanner-image-container .js-textbanner-image {
  aspect-ratio: 1 / 1;
}

.section-banners-home[data-store="home-banner-categories"]
  .js-banner
  .js-textbanner
  .textbanner-text.over-image
  .js-banner-title {
  color: var(--color-light);
  font-size: var(--font-size-sm);
  font-family: var(--body-font);
}

/* First Row */
.section-banners-home[data-store="home-banner-news"] {
  padding: 0 !important;
}

/* Image with text */
.section-modules-home {
  padding: var(--spacing-section-large) 0;
  background: var(--color-background-alt);
}

.section-modules-home .js-textbanner {
  padding-bottom: 0 !important;
  margin: 0 !important;
}

.section-modules-home .js-textbanner .js-textbanner-image-container {
  padding-bottom: 50% !important;
  padding-top: 0 !important;
}

.section-modules-home .js-textbanner .js-textbanner-text {
  order: -1;
  padding-right: 6rem !important;
}

.section-modules-home .js-textbanner .js-banner-title {
  font-size: var(--font-size-lg);
  margin-bottom: 1.5rem !important;
}

.section-modules-home .js-textbanner .textbanner-paragraph {
  text-overflow: unset;
  -webkit-line-clamp: none;
  -webkit-box-orient: horizontal;
  text-wrap: balance;
}

.section-modules-home .js-textbanner .btn-link {
  composes: btn-standard;
}

/* Footer Icons */
.section-informative-banners .container {
  max-width: none;
  border-top: var(--border-standard);
  border-bottom: var(--border-standard);
}

.section-informative-banners .js-informative-banners.swiper-container {
  margin-bottom: 0 !important;
}

.section-informative-banners .js-informative-banners .swiper-slide {
  padding: 1.3rem 0 1.2rem !important;
  margin: 0 !important;
}

.section-informative-banners .js-informative-banners .swiper-slide:first-child {
  border-right: var(--border-standard);
}

.section-informative-banners .js-informative-banners .swiper-slide.mr-md-0 {
  border-left: var(--border-standard);
  margin-right: 30px;
}

.section-informative-banners
  .js-informative-banners
  .swiper-slide
  .d-inline-block.icon-60px {
  width: 24px;
  height: 24px;
  margin-bottom: 0.75rem !important;
}

.section-informative-banners .js-informative-banners .swiper-slide h3 {
  font-size: var(--font-size-xs);
  font-family: var(--body-font);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
}

/* Footer */
.js-footer .mb-4.pb-2 img.footer-logo-img {
  max-height: 120px;
}

.js-footer .mb-4:nth-of-type(2),
.js-footer .my-2,
.social-share-button {
  display: none;
}

.js-footer .d-inline-block.mr-md-2.font-smallest,
.js-footer .font-smallest {
  font-size: var(--font-size-xs) !important;
  color: var(--color-text-muted) !important;
}

/* Category Page */
body.template-category > .container {
  border-bottom: var(--border-standard);
  max-width: unset;
  margin-bottom: 28px;
  padding: 60px 0 !important;
}

body.template-category > .container .page-header {
  padding: 0 !important;
}

body.template-category > .container .mt-2.mb-4.text-center {
  margin: 48px 0 0 !important;
}

body.template-category > .container .page-header .breadcrumbs {
  display: none;
}

body.template-category .btn-link[data-component="filter-button"] {
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
  font-size: var(--font-size-xs);
  text-underline-offset: 4px;
}

body.template-category .item-name {
  font-size: 14px !important;
}

body.template-category .item-description {
  padding: 40px 0 60px;
}

body.template-category .js-footer {
  border-top: var(--border-standard);
  padding-top: 60px;
}

/* Product Page */
#single-product {
  padding-top: 0 !important;
}

#single-product > .container {
  max-width: unset;
  padding-left: 0;
  padding-top: 0 !important;
}

#single-product > .container .row > .col[data-store] {
  padding-left: var(--spacing-xl) !important;
  padding-right: var(--spacing-xl) !important;
}

@media (min-width: 768px) {
  #single-product .swiper-product-thumb {
    height: auto !important;
    pointer-events: none;
  }

  #single-product .swiper-product-thumb + div {
    display: none !important;
  }

  .product-thumb img {
    border-radius: 0 !important;
  }

  .product-thumbs-container {
    width: 125px;
  }

  .js-product-thumb {
    margin-bottom: 4px !important;
  }
}

#single-product .user-content p {
  margin-bottom: 0.25rem !important;
}

#single-product .swiper-wrapper {
  flex-direction: column;
}

#single-product .js-swiper-product .swiper-wrapper {
  gap: 12px;
}

.label.label-default {
  letter-spacing: 0 !important;
  font-size: 12px !important;
}

.js-product-name {
  margin: 20px 0 !important;
}

.js-product-variants {
  flex-direction: column;
}

.js-product-variants-group {
  width: 100% !important;
  max-width: unset;
}

.form-group .form-label {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-wide);
  font-size: 10px;
}
#product_form {
  margin-bottom: 3rem;
}

#product_form .js-product-variants + .row {
  display: flex;
  flex-direction: column;
  margin: 0 !important;
  gap: 30px;
}
#product_form .js-product-variants + .row .col-4 {
  padding: 0!important;
  max-width: 100%;
}
#product_form .js-product-variants + .row .col-4::before {
  content: 'Cantidad';
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: var(--letter-spacing-wide);
  font-size: 10px;
  margin-bottom: 10px;
  display: block;
}
#product_form .js-product-variants + .row .col-8 {
  padding: 0!important;
  max-width: 100%;
}

/* about */

.template-page .page-header {
  padding: 4rem 0 0 !important;
}

.template-page .page-header h1 {
  font-size: 24px;
}

.template-page .user-content-wrap p {
  margin: 4rem auto;
  text-align: center;
  max-width: 640px;
  text-wrap: balance;
}

.template-page .user-content > .container > .row > .col-md-8 {
  max-width: 100%;
  flex: 1;
}

@media (min-width: 768px) {
  .about-2-col {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-sm);
  }
  .template-page .user-content {
    padding-bottom: 6rem !important;
  }
}

.template-page .breadcrumbs {
  display: none !important;
}

#related-products .item-name {
  padding: 20px 0 40px;
  font-size: 14px !important;
}

#related-products .products-section-title {
  padding-bottom: 48px;
}

#related-products .products-section-slider-controls-container {
  display: none;
}

/* button */

.btn-primary {
  border: 1px solid transparent;
  background-color: #2e2e2e;
  color: #f1ece5;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #2e2e2e;
  opacity: 1;
  border: 1px solid #2e2e2e;
  background-color: #f1ece5;
}

/* modal */
#nav-filter .btn-default {
  letter-spacing: var(--letter-spacing-wide);
  text-transform: uppercase;
  font-size: 10px;
}
#nav-filters .font-weight-bold {
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 10px !important;
  margin-top: 1.5rem !important;
}

#nav-filters .checkbox-container .checkbox,
#nav-filters .radio-button-container .radio-button-item {
  margin-bottom: 16px;
}

.modal-header, .modal-body, .modal-footer {
  background-color: unset!important;
}

#modal-cart .cart-row * {
  font-family: 'Arimo';
}

#modal-cart .js-visible-on-cart-filled .text-center:last-child .btn-link{
  margin-top: 1.5rem;
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-wide);
  font-size: 10px !important;
  text-underline-offset: 4px;
  display: inline-block;
}


@media (min-width: 768px) {
  #nav-filters .modal-header .pl-md-5,
  #modal-cart .modal-header .pl-5  {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 600;
    font-size: 10px;
    text-align: left;
    padding-left: 0 !important;
  }
  #nav-filters.modal-left {
    right: -100%;
    left: unset;
  }
  #nav-filters.modal-left.modal-show {
    left: unset;
    right: 0;
  }
}

/* contact */

.template-contact .breadcrumbs {
  display: none !important;
}
.template-contact .page-header {
  padding: 2rem 0 !important;
}
.template-contact .contact-page {
  border-top: var(--border-standard);
  padding-top: 4rem;
}
.template-contact .contact-page .container > .row > .col-md-6 {
  flex: 1;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 6rem;
}

.template-contact .contact-page .container > .row > .col-md-6 > .text-center {
  text-align: left!important;
}

.template-contact .list {
  text-align: left;
  border-bottom: var(--border-standard);
}

.template-contact .list li.mb-3 {
  border-top: var(--border-standard);
  padding: 1rem 0;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
}

.template-contact .list .contact-link {
  color: var(--color-primary);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 12px;
}

.template-contact .contact-page .container > .row > .col-md-6:has(.row) > div:first-child {
  display: none;
}

.template-contact .contact-page .container > .row > .col-md-6:has(.row) .align-items-center {
  display: flex;
  height: min-content;
  border: 1px solid #BCB9B5;
  align-content: flex-start;
  justify-content: flex-start !important;
  padding: 1rem 0;
}

/* account */

.template-account-login .breadcrumbs {
  display: none !important;
}

.template-account-login .page-header {
  padding: 2rem 0 !important;
}

.template-account-login .account-page {
  border-top: var(--border-standard);
  padding-top: 4rem;
}