.js-banners-news .js-banner-container.container {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  z-index: 9;
  max-width: unset;
}

.js-banners-news .js-banner-container.container-fluid::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 100%;
  width: 100%;
  background: #4d301b;
  opacity: 0.5;
}

.js-home-sections-container .section-banners-home {
  padding: 0;
}

.js-banners-news .js-banners-section-title.js-banners-news-title {
  font-family: "Gilda Display";
  color: #f1ece5;
  font-size: 48px;
  letter-spacing: 0;
  margin: 0 !important;
  padding: 0 !important;
}

.section-institutional-home .js-institutional-message-title {
  text-wrap: balance;
}

a.js-institutional-message-button.btn-link {
  padding: 1rem 2rem;
  border: 1px solid;
  margin-top: 2rem;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
}

.btn-whatsapp {
  background-color: #2e2e2e;
}

.desktop-list-subitems .nav-item .list-subitems {
  display: none;
}

.nav-desktop-list > .nav-item {
  position: relative;
}

.desktop-dropdown {
  width: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.desktop-list-subitems {
  display: flex;
  flex-direction: column;
}

.nav-list-link {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
}
